<div class="divider" aria-hidden="true">
  <svg viewBox="0 0 1440 60" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 45 C60 35 120 28 180 32 C240 36 300 25 360 20 C420 15 480 22 540 18 C600 14 660 20 720 15 C780 10 840 18 900 22 C960 26 1020 14 1080 12 C1140 10 1200 16 1260 14 C1320 12 1380 18 1440 10 L1440 60 L0 60 Z" fill="var(--oliva-campo)" opacity="0.18"/>
    <path d="M0 50 C60 42 120 38 180 40 C240 42 300 36 360 32 C420 28 480 36 540 30 C600 24 660 32 720 28 C780 24 840 30 900 34 C960 38 1020 28 1080 26 C1140 24 1200 30 1260 26 C1320 22 1380 30 1440 24 L1440 60 L0 60 Z" fill="var(--oliva-campo)" opacity="0.12"/>
  </svg>
</div>

<style>
  .divider {
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  .divider svg {
    width: 100%;
    height: clamp(32px, 5vw, 60px);
  }
</style>
